---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
SortIncludes: true
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true
